body{
    background-image: url(https://flickimages.com/images/radha-krishna-photo-hd-png.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:aqua;
}
.green{
    color:darkolivegreen;
}

.purple{
    color: purple;
}
.yellow{
    color: orange;
}
.pink{
    color: maroon;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}